*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif, Arial;
    background-color: #f5f5f5f5;
    color: #333;
}
.fheader {
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-app {
    background-color: #4CAF50;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: sticky;
    margin-bottom: 20px;
    border-radius: 5px  ;
    text-decoration: none;

}
.nav {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
   
}
.nav, ul, li  {
    list-style-type: none;
    margin: 0;
    padding: 10px 10px;
    float: left;
    text-decoration: none;
    color: white;
}
.nav ul li:hover{
    background-color: #c5df2d;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;

}
.nav li a{
    text-decoration: none;
    color: white;
}
.banner {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}
 
.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd ;
    border-radius: 5px ;
    font-size: 20px;
}
.header2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.story1{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px ;
    background-color: #e8f5e9 ;

}
.divider {
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}
.projects-app {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Contact-app {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
.contact-form-container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px ;
    margin-top: 20px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: 16px Arial, sans-serif;
}

.contact-form input:focus, label:focus {
    outline: none;
    border-radius: 5px;
    border: 1px solid #4CAF50;
}
.contact-form input, label{
    font-size: 16px;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
}
.button:hover {
    background-color: #c5df2d;
    cursor: pointer;
}
.projects-app{
    margin-top: 20px;
    margin-bottom: 20px;
}
.project-img{
    width: 10%;
    height: auto;
    border-radius: 5px;
    box-shadow:   0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}
.project-img1{
    width: 100%;
    height: auto;
    border-radius: 5px solid black;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}


.project-img2{
    width: 100%;
    height: auto;
    border-radius: 5px solid black;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}
.project-img3{
    width: 100%;
    height: auto;
    border-radius: 5px solid black;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}




.html {
    scroll-behavior: smooth;

}
.back-to-top a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;

}
.back-to-top:hover {
    background-color: #c5df2d;
    color: white;
    cursor: pointer;

}

.footer {
    text-align: center;
    padding: 15px 0;
    background-color: #4CAF50;
    color: white;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    border-radius: 5px;
}

