* {
    box-sizing: border-box;
}

.Fheader {
    text-align: center;
}

body {
    /* background-color: #cbd422 ; */
    font-family: sans-serif;
    margin: 0;
    

}
.table  {
    /* width: 100%; */
    border-collapse: collapse;
    border: 4px solid black;
    margin: 20px auto;
    width: 70%;
    
}
.table th, .table td{
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    margin: auto;
}

.table table{
    margin: auto;
    padding: 10px;
    width: 80%;

}
.table th{
    background-color: lightgray;
}
.table tr:nth-child(even){
    background-color: #f2f2f2f2;
}
.table tr:hover{
    background-color: #ddd;
}

.table tr:first-child{
    font-weight: 1000;
}

.btn2 {
    background-color: #4CA54c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn2:hover{
    background-color: #cbd442;
}

.btn3 {
    background-color: #4CA54c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn3:hover{
    background-color: #cbd442;
}