*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.section2 {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

}
form{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
form input{
    padding: 10px;
    width:  80%;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top:  10px;
}
form button{
    padding: 10px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
form button:hover{
    background-color: #45a049;
}
.section1{
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.todo-list{
    list-style-type: none;
    padding: 0;
}
.todo-item{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    list-style-type: none;
}

.edit-btn{
    margin-left: 40px;
    background-color: #2196F3;
    color: white;
    border: none;
    padding:  5px 10px;
    border-radius: 5px;
    cursor: pointer;
} 
.edit-btn:hover{
    background-color: #0b7dda;
}

.delete-btn{
    margin-left: 20px;
    background-color: #f44336;
    color: white;
    border: none;
    padding:  5px 10px;
    border-radius: 5px;
    cursor: pointer;
} 
.delete-btn:hover{
    background-color: #da190b;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}